<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <ul>
		<li>Name: <%= "#{@requested_user.first_name} #{@requested_user.last_name}" %></li>
		<li>Personal Email: <%= "#{@requested_user.personal_email}" %></li>
		<% unless "#{@requested_user.work_email}" == "" %>
			<li>Professional Email: <%= "#{@requested_user.work_email}" %></li>
		<% end %>
		<% unless "#{@requested_user.home_phone}" == "" %>
			<li>Home Phone: <%= "#{@requested_user.home_phone}" %></li>
		<% end %>
		<% unless "#{@requested_user.work_phone}" == "" %>
			<li>Professional Phone: <%= "#{@requested_user.work_phone}" %></li>
		<% end %>
		<li>Cell Phone: <%= "#{@requested_user.cell_phone}" %></li>
	</ul>	
  </body>
</html>