<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name%>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :personal_email %><br />
    <%= f.text_field :personal_email %>
  </div>
  <div class="field">
	<%= f.label "Cell phone (format: 1234567890)" %><br />
	<%= f.text_field :cell_phone %>
  </div>
  <div class="field">
	<%= f.label :service_provider %> <%= link_to "Valid Service Providers", providers_path %><br />
	<%= f.text_field :service_provider %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
